*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

body{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar
{
    
    width: 100%;
    position: fixed;
    background-color: rgba(228, 227, 227, 0.95);
    
    top: 0;
    z-index: 5;
}

.navbar-brand{
    margin-left: 1vw;
}


.nav-item
{   font-size: 18px;
    padding: 0px 5px;
    
}


.navbar-dark .navbar-nav .nav-link:hover
{
    color: green;
}
  


.home
{   
    
    height: 100vh; 
    background-image:url(../img/intro-bg.jpg) ;
    background-size: 100% 100%;
    text-align: center;
    color:#dee3e4 !important;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.drk{
    background-color: rgba(8, 2, 2, 0.7); 
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.caption{
 
    position: relative;
    z-index: 4;
}
.caption button{
    margin: 20px 0px;
    padding: 10px 30px;
    border-radius: 30px;
    border: #20c997 solid 3px;
    color: #20c997;
    background-color:rgba(8, 2, 2, 0.05) ;
}
.caption button:hover{
    color: white;
    background-color: #20c997;
}

.caption p ,h2{
    margin: 30px 0px;
}

.about
{
    text-align: center;
    
   
}
.aboutme{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutme h2{
  
    color: #dee3e4;
    font-size: 10vw;
    font-weight: 900;

}

.knowme{
  
    position: absolute;  
}

.knowme h3{
    text-align: center;
    font-size: 3vw;
    color: black;
}
.lin{
    height: 3px;
    width: 7vw;
    margin: auto;
    background-color: #20c997;
    
}

.Simone{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info{
    
    width: 60%;
    font-weight: 400;
    color: #4c4d4d;
    padding: 0px 30px;
}

.info span{
    color:#20c997 ;
    font-weight: 700;
}
.contact{
    padding: 50px;
    width: 30%;
    font-weight: 500;
    font-size: 1.3vw;
}

.contact a{
    text-decoration: none;
    color: #20c997;
    font-weight: 500;
}

.contact span{ 
    color: black;
    font-weight: 500;
}

.contact button{
    padding: 10px 30px;
    border-radius: 30px;
    border: #20c997 solid 3px;
    background-color: #20c997;
    color: #fff;
}

.contact button:hover{
    background-color: #207a5f;
    border: #207a5f solid 3px;
}

.uline{
    height: 1px;
    background-color: #eaeaea;
    margin-bottom: 10px;
}
